[submodule "bundle/ctrlp.vim"]
	path = pack/ctrlp/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/Dockerfile.vim"]
	path = pack/Dockerfile/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/vim-surround"]
	path = pack/surround/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
