[submodule "bundle/ctrlp.vim"]
	path = pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/Dockerfile.vim"]
	path = pack/plugins/start/dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/vim-surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/fugitive/start/vim-fugitive"]
	path = pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/lightline.vim"]
	path = pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/plugins/start/vim-bitbake"]
	path = pack/plugins/start/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake
[submodule "pack/plugins/start/vim-gfm-syntax"]
	path = pack/plugins/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax
