[submodule "pack/vim-dispatch/start/vim-dispatch"]
	path = pack/vim-dispatch/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/vim-shellcheck/start/vim-shellcheck"]
	path = pack/vim-shellcheck/start/vim-shellcheck
	url = https://github.com/itspriddle/vim-shellcheck
[submodule "pack/vim-gfm-syntax/start/vim-gfm-syntax"]
	path = pack/vim-gfm-syntax/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax
[submodule "pack/Dockerfile.vim/start/Dockerfile.vim"]
	path = pack/Dockerfile.vim/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "pack/vim-fugitive/start/vim-fugitive"]
	path = pack/vim-fugitive/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/lightline.vim/start/lightline.vim"]
	path = pack/lightline.vim/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/vim-surround/start/vim-surround"]
	path = pack/vim-surround/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/vim-bitbake/start/vim-bitbake"]
	path = pack/vim-bitbake/start/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake
[submodule "pack/fzf.vim/start/fzf.vim"]
	path = pack/fzf.vim/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
